* {
	margin: 0;
	padding: 0;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/*
 * HEADER
 */

.panel {
	margin: 10px auto -40px;
	width: 505px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px dashed #000000;
    border-radius: 6px;
}

.panel > div {
	padding: 6px 10px;
	font-size: 0.9em;

}

.panel div > h4 {
	margin: 0 0 3px;
}

 .heart-lives::before{
 	font-size: 20px;
 	padding: 0 2px;
 }


/*
 * MODAL GENERAL
 */

 /* Modal Based on: https://www.youtube.com/watch?v=fu-enUG2VEE&t=1191s */
.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.show {
    display: flex;
}

.modal {
    background: #ffffff;
    width: 45%;
    min-width: 250px;
    padding: 25px;
    border: 2px dashed #000000;
    border-radius: 15px;
    box-shadow: 0 0 0 10px #ffffff;
    font-size: 1.3em;
    text-align: center;
}

.modal-container.show .modal {
    animation: modal .5s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);

    }
}

.modal h2 {
	font-family: 'Chewy', cursive;
	font-size: 4em; 
	margin: 0 0 30px 0;
}

.modal h3 {
	margin: 0 3px 0 0;
}

.modal p {
    margin: 0 15px 10px 10px;
}

.modal p:first-child {
    margin: 33px 0;
    display: block;
}

input.button {
    box-shadow: 2px 3px 18px 0 rgba(46, 61, 73, 0.5);
    background-color: #000000;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border: 5px solid #000000;
    border-radius: 6px;
    padding: 10px 25px;
    margin: 10px 0 0;
}

/*
 * GAME OVER SCREEN
 */

.modal-container.game-over {
 	background-color: #000000;
}

.game-over .modal {
 	background-color: #000000;
 	color: #ffffff;
    border: 2px dashed #ffffff;
    box-shadow: 0 0 0 10px #000000;

 }

 .game-over input.button {
    box-shadow: 2px 3px 18px 0 rgba(46, 61, 73, 0.5);
    background-color: #ffffff;
    color: #000000;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border: 5px solid #ffffff;
    border-radius: 6px;
    padding: 10px 25px;
    margin: 10px 0 0;
 }

/*
 * ARROW CONTROLS
 */
.arrow_control::before{
 	font-size: 56px;
}

.arrow_directions button {
	background-color: #ffffff;
 	border-style: none;
}